<div class="wrapper">

  <div class="row">
      <div class="col-xl-9 offset-xl-0">
          <div id="text-box1" class="img1">
              <h1>Worship Experience</h1>
              <p>He makes His ministers a fiery flame</p><button class="btn btn-primary" type="button">Upcoming</button></div>
      </div>
      <div class="col-xl-3 aside">
          <article>
              <h5>Updates</h5>
              <hr />
              <p>Loading Message...</p>
          </article>
      </div>
  </div>
</div>
